*.pro.user*
pythonapi/ilwisobjects.py
pythonapi/ilwisobjects_wrap.cxx
pythonapi/ilwisobjects.conf
*/__pycache__/
.idea
/docs
/Doxyfile
wfsconnector/ConnectorWFS.cpp
wfsconnector/ConnectorWFS.h
