{
	"OperatingSystem" : [
		{ "name" : "windows",
		  "libraries": [
			{
				"order": 1,
				"library": "expat.dll"
			},
			{
				"order": 2,
				"library" : "libproj-0.dll"
			},
			{
				"order" : 100000,
				"library" : "gdal.dll"
			}
		]
		},
		{ "name" : "linux",
		  "libraries" : [
			{
				"order" : 1,
				"library" : "libproj.so"
			},
			{
				"order" : 100000,
				"library" : "libgdal.so"
			}			
		]
		}
	]
}