{
        "OperatingSystem" : [
                { "name" : "windows",
                  "libraries": [
                        {
                                "order": 1,
                                "library" : "zlib1.dll"
                        },
                        {
                                "order": 2,
                                "library": "libcharset-1.dll"
                        },
                        {
                                "order": 3,
                                "library" : "libdynlib1-0.dll"
                        },
                        {
                                "order": 4,
                                "library" : "libdynlib2-0.dll"
                        },
                        {
                                "order": 5,
                                "library" : "libdynlib3-0.dll"
                        },
                        {
                                "order": 6,
                                "library" : "libdynlibadd-0.dll"
                        },
                        {
                                "order": 7,
                                "library" : "libeay32.dll"
                        },
                        {
                                "order": 8,
                                "library" : "ssleay32.dll"
                        },
                        {
                                "order": 9,
                                "library" : "libiconv-2.dll"
                        },
                        {
                                "order": 10,
                                "library" : "libproj-0.dll"
                        },
                        {
                                "order": 11,
                                "library" : "libcurl-4.dll"
                        },
                        {
                                "order": 12,
                                "library" : "libexpat-1.dll"
                        },
                        {
                                "order": 13,
                                "library" : "libfreexl-1.dll"
                        },
                        {
                                "order": 14,
                                "library" : "libhdf5-8.dll"
                        },
                        {
                                "order": 15,
                                "library" : "libhdf5_hl-8.dll"
                        },
                        {
                                "order": 16,
                                "library" : "libnetcdf-7.dll"
                        },
                        {
                                "order": 17,
                                "library" : "libpq.dll"
                        },
                        {
                                "order": 18,
                                "library" : "libsqlite3-0.dll"
                        },
                        {
                                "order" : 100000,
                                "library" : "libgdal-1.dll"
                        }
                ]
                },
                { "name" : "linux",
                  "libraries" : [
                        {
                                "order" : 1,
                                "library" : "../proj4impl/libproj4impl.so"
                        },
                        {
                                "order" : 100000,
                                "library" : "/usr/lib/libgdal.so"
                        }
                ]
                }
        ]
}
