{
	"Formats" : [
		{ 	"code" 			: "featurecoverage",
			"name" 			: "Memory based featurecoverage",
			"description" 	: "An internal format that is used by ilwis processes adn it is basically memory based but occasionally may use a disk as cache storage",
			"extension"		: "ilwis",
			"type"			: "memory",
			"datatypes"		: "featurecoverage",
			"extendedtype"	: "coordinatesystem"						
		},
		{ 	"code" 			: "rastercoverage",
			"name" 			: "Memory based rastercoverage",
			"description" 	: "An internal format that is used by ilwis processes adn it is basically memory based but occasionally may use a disk as cache storage",
			"extension"		: "ilwis",
			"type"			: "memory",
			"datatypes"		: "rastercoverage",
			"extendedtype"	: "coordinatesystem,georeference"						
		},
		{ 	"code" 			: "table",
			"name" 			: "Memory based table",
			"description" 	: "An internal format that is used by ilwis processes adn it is basically memory based but occasionally may use a disk as cache storage",
			"extension"		: "ilwis",
			"type"			: "memory",
			"datatypes"		: "table"
		},
		{ 	"code" 			: "catalog",
			"name" 			: "Memory based catalog",
			"description" 	: "An internal format that is used by ilwis processes adn it is basically memory based but occasionally may use a disk as cache storage",
			"extension"		: "ilwis",
			"type"			: "memory",
			"datatypes"		: "catalog"
		},
		{ 	"code" 			: "georeference",
			"name" 			: "Memory based georeference",
			"description" 	: "An internal format that is used by ilwis processes adn it is basically memory based but occasionally may use a disk as cache storage",
			"extension"		: "ilwis",
			"type"			: "memory",
			"datatypes"		: "georeference"
		},
		{ 	"code" 			: "workflow",
			"name" 			: "Memory based workflow",
			"description" 	: "An internal format that is used by ilwis processes adn it is basically memory based but occasionally may use a disk as cache storage",
			"extension"		: "ilwis",
			"type"			: "memory",
			"datatypes"		: "workflow"
		},
		{ 	"code" 			: "operationmetadata",
			"name" 			: "Memory based operationmetadata",
			"description" 	: "An internal format that is used by ilwis processes adn it is basically memory based but occasionally may use a disk as cache storage",
			"extension"		: "ilwis",
			"type"			: "memory",
			"datatypes"		: "operationmetadata"
		},
		{ 	"code" 			: "domain",
			"name" 			: "Memory based domain",
			"description" 	: "An internal format that is used by ilwis processes adn it is basically memory based but occasionally may use a disk as cache storage",
			"extension"		: "ilwis",
			"type"			: "memory",
			"datatypes"		: "domain"
		},
		{ 	"code" 			: "coordinatesystem",
			"name" 			: "Memory based coordinatesystem",
			"description" 	: "An internal format that is used by ilwis processes adn it is basically memory based but occasionally may use a disk as cache storage",
			"extension"		: "ilwis",
			"type"			: "memory",
			"datatypes"		: "coordinatesystem"
		}			
	]
}		

