{
	"Formats" : [
		{ 	"code" 			: "featurecoverage",
			"name" 			: "Memory based featurecoverage",
			"description" 	: "An internal format that is used by ilwis processes adn it is basically memory based but occasionally may use a disk as cache storage",
			"extension"		: "ilwis",
			"type"			: "memory",
			"datatypes"		: "featurecoverage",
			"extendedtype"	: "coordinatesystem"						
		},
		{ 	"code" 			: "rastercoverage",
			"name" 			: "Memory based rastercoverage",
			"description" 	: "An internal format that is used by ilwis processes adn it is basically memory based but occasionally may use a disk as cache storage",
			"extension"		: "ilwis",
			"type"			: "memory",
			"datatypes"		: "rastercoverage",
			"extendedtype"	: "coordinatesystem,georeference"						
		},
		{ 	"code" 			: "table",
			"name" 			: "Memory based table",
			"description" 	: "An internal format that is used by ilwis processes adn it is basically memory based but occasionally may use a disk as cache storage",
			"extension"		: "ilwis",
			"type"			: "memory",
			"datatypes"		: "table"
		},
		{ 	"code" 			: "catalog",
			"name" 			: "Memory based catalog",
			"description" 	: "An internal format that is used by ilwis processes adn it is basically memory based but occasionally may use a disk as cache storage",
			"extension"		: "ilwis",
			"type"			: "memory",
			"datatypes"		: "catalog"
		}
	]
}		

